body {
    margin: 0;
    background-color: #006e64;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
}

.title span {
    font-size: 90px;
}

.Tic {
    color: #545454;
}

.Tac {
    color: #00A193;
    padding: 0 30px;
}

.Toe {
    color: #FFFFFF;
}

.subtitle {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: #00f7e1;
    font-weight: 900;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 100px 0;
}

.box-1 {
    margin-right: 40px;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bcfff9;
    font-size: 25px;
}

.btn-style {
    transition: all 0.5s;
    position: relative;
}

.btn-style span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-style::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-style::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-style:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0);
}

.btn-style:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0);
}

.menu{
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color:#197c73;
    border-radius: 5px;
    padding: 24px 24px 40px;
    color: white;
    text-align: center;
}

.menu input {
    margin: 10px 0 100px 0;
    background-color: transparent;
    border: 1px;
    border-color: white;
    padding: 5px;
    color: white;
    font-size: 25px;
}


.row {
    margin-top: 50px;
}

select {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px;
}

#close {
    display: none;
}

.hidden-input {
    display: none;
}

option {
    background-color: transparent;
    color: black;
    width: 20px;
}

.singleplayer, .multiplayer{
    margin: 10px 0;
    font-size: 20px;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    padding: 5px 20px;
    margin:  10px auto 0;
    transition: transform .2s;
}

#second-player-option {
    appearance: none;
    
}

#first-player-option {
    outline: 0px;
}

.Icon1 {
    display: flex;
    justify-content: right;
}

.Icon {
    width: 50px;
    height: 50px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: right;
    text-align: right;
  }
  
  .Icon span {
    display: block;
    position: absolute;
    left: 0;
    top: 23px;
    height: 8px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
    align-items: right;
  }
  
  .Icon span:nth-child(1),
  .Icon span:nth-child(3) {
    width: 50%;
    transform: rotate(45deg);
  }
  
  .Icon span:nth-child(1) {
    left: 3px;
    top: 15px;
  }
  
  .Icon span:nth-child(2) {
    transform: rotate(-45deg);
  }
  
  .Icon span:nth-child(3) {
    left: 20px;
    top: 31px;
  }
  
  .Icon.open span:nth-child(1),
  .Icon.open span:nth-child(3) {
      left: -1px;
  }
  
  .Icon.open span:nth-child(1) {
    top: 15px;
    transform: rotate(135deg);
  }
  
  .Icon.open span:nth-child(2) {
    transform: rotate(0deg);
  }
  
  .Icon.open span:nth-child(3) {
    top: 31px;
    transform: rotate(45deg);
  }