:root {

    --font-family-primary: 'Manrope';
    --font-style-primary: normal;
    --dark: #000000;
    --light: #ffffff;
    --primary: #2F60A6;
    --secondary: #2C347C;

}


header {
    background-image: url(./images/Header/Rectangle\ 1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: center;
}

.navbar {
    padding-right: 117px;
    padding-top: 35px;
}

.navbar-nav a {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    margin: 0 20px;
    color: var(--dark);
}


.nav-btn {
    background-color: var(--primary);
    border: 1px solid var(--dark);
    border-radius: 5px;
    width: 96px;
    height: 40px;
    margin-left: 130px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--light);
    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
}

@media (max-width:768px) {
    .navbar {
       position: relative;
    }   
    .contact-button__container {
       position: absolute;
       top: 35px;
       right: 35px;
    }
    .navbar-toggler {
       border: none;
       padding: 0px;
    }
    .container-fluid {
       padding-right: 35px;
    }
   }

header .input-group .btn{
    
    background-color: var(--primary);
    color: var(--light);
}

header .input-group{
    height: 73px;
}

header .card {
    margin-left: 7%;
    margin-top: 135px;
    background-color: transparent;
    border: 0;
    max-width: 665px;
}

.page1 h1{
    margin-top: 117px;
    margin-bottom: 30px;
    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: var(--dark);
}

.page1 h2{
    margin-top: 33px;
    margin: 0 auto;
    margin-bottom: 99px;
    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: var(--dark);

}

.page1 .row {
    margin-bottom: 140px;
}

@media screen and (max-width: 780px){
    .page1 .row{
        margin-bottom: 195px;
    }
}



@media screen and (max-width: 450px) {

    .page1 h2 {
        margin-bottom: 40px;
        font-size: 12px;
        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.2px;

    }

    .page1 h1 {

        font-size: 24px;

    }

    .page1 .row{
        margin-bottom: 90px;
    }

}

.page1 img {
    width: 76px;
    height: 76px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.page1 .card{
    border: 0;
}

.page2 {
    background: linear-gradient(180deg, #2F60A6 0%, #2C347C 100%);}

.page2 .card{
    border: 0;
    background-color: transparent;
}

.page2 img {
    width: 24px;
    height: 24px;
}

.page2 h1 {
    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.page2 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
}

.page2 .card-body p{
    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
}

@media screen  and (max-width: 780px) {
    
    .page2 .card-body p{
        padding-top: 20px;
        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen  and (max-width: 450px) {

    .page2 .card-body {
        text-align: center;
    }

    .page2 h1 {
        text-align: center;
        padding-top: 50px;
        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 800;
        font-size: 36px;
        line-height: 47px;
    }
    
    .page2 p{
        text-align: center;
        padding-top: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
    }
    
    .page2 .card-body p{
        text-align: center;
        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
    }

    .page2 .card-body img {
        transform: rotate(90deg);
    }
}


.page3{
    padding-bottom: 160px;
    padding-top: 160px;
}

.page3 .card {
    border: 0;
}

.page3 .card .card-body p {
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 400;
    color: #808080;
}

.page3 .card .card-body button{
    width: 160px;
    height: 48px;
    border-radius: 8px;
    background: var(--primary);
    margin-top: 80px;
}
.page3 .card .card-body h1 {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Manrope';
    color: #2e2e2e;
}

.page4{
    padding-top: 45px;
}

.page4 .row{
    padding-top: 48px;
}

.page4 {
    box-shadow: 0px 4px 4px 0px #00000017;
    background: linear-gradient(180deg, #2F60A6 0%, rgba(44, 52, 124, 0.0121536) 99.99%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09));   
}

@media screen  and (max-width: 750px) {

    .page4 .row .card{    
        max-height: 96px;
        max-width: 170px;
        margin: 0 auto;
    }

}

.page4 .card {
    max-height: 96px;
    max-width: 170px;
    align-items: center;
    margin-bottom: 20px;
}

.page5 img{
    margin-top: 166px;
}

.page5 .btn{
    margin-bottom: 160px;
}

footer {
    background: #2F60A6;
}

footer{
    background-color: #2f60a6;
}
footer h5 {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}
footer .text-muted {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #e6e6e6 !important;
    margin-top: 24px;
}