body {
    background-image: url("../Images/Game/2505823.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

i{
    cursor: pointer;
    color: grey;
}

h1 {
    margin: 0;
    font-family: Caribbean;
}

label {
    font-family: Caribbean;
    font-size: 22px
}

.title {
    margin-top: 30px;
    margin-bottom: 40px;
}

input {
    background-color: transparent;
    border: 1px solid red;
    color: white;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.game-menu {
    margin-top: 280px;
    display: flex;
    justify-content: center;
    gap: 70px;

}

.game-menu p {
    margin: 0;
    font-size: 30px;
    font-family: Caribbean;
}

.pop-up p {
    margin: 0;
    font-size: 15px;
    font-family: Caribbean;
}

.hide {
    display: none;
}

.pop-up {
    margin-top: 10%;
    height: 100%;
    gap: 70px;
}

.input2 {
    margin-top: 50px;
}

.close {
    height: 100%;
    display: flex;
    justify-content: end;
    margin: 10px 15px 30px 0;
}


.button1 {
    background-image: url("../Images/Logo/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 50px;
    text-align: center;
    cursor: pointer;
}

.message{
    text-align: center;
    font-family: Caribbean;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.button2 {
    background-image: url("../Images/Logo/logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 50px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.game-mode {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    align-content: center;
    ;
}

.card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.ff,
.bb {
    /*front face and back face*/
    position: absolute;
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    border-radius: 50px;
    backface-visibility: hidden;
}

.ff {
    transform: rotateY(180deg);
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.cursor {
    cursor: not-allowed;
}


.game {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}

.button3 {
    background-image: url("../Images/Logo/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 18px 0px;
    text-align: center;
    width: 20%;
    margin: 0 auto;
    margin-top: 25px;
    cursor: pointer;
}

.button3 p {
    margin: 0;
    font-size: 30px;
    font-family: Caribbean;
}

.Player1-content{
    padding: 30px;
    margin-left: 180px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.Player2-content{
    padding: 30px;
    margin-right: 180px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

  