body {
   background-color: #88BDBF; 
   margin:0 auto;
}

.container {
   height: 100vh;
   padding: 30px;
   background-color: #F3F3F3;
   width: 45%;
   margin: auto;
   border: 1px solid #FF7A5A;
}

.topcontent {
   margin-top: 20%;
   display:flex;
   align-items:center;
   justify-content:space-between;
}

.logocontent {
   height: 100px;
   display: flex;
   background-color: #FF7A5A;
   justify-content: center;
   align-items: center;
}
.logo{
   width: 64px;
   color: inver;
}

.text {
   background-color: #FFFFFF;
   padding-top: 50px;
   padding-bottom: 40px;
}

.Title {
   text-align: center;
   margin: 0 auto;
   padding-bottom: 37px;
}
.content {
   padding: 0 200px;
   text-align: center;
   margin: 0 auto;
}

.button {
   margin: auto;
   display: flex;
   margin-top: 30px;
   padding: 10px 20px;
   background-color: #FF7A5A;
   color: #FFFFFF;
   border: 0;
}

.bottomcontent {
   margin-top: 20%;
   text-align: center;
}

.logos {
   padding-top: 15px;
}