:root {

    --font-family-primary: 'Work Sans';
    --font-family-secondary: 'Crimson';
    --background-color-primary: #F25C05;
    --background-color-secondary: white;
    --btn-color-primary: #212529;
    --btn-color-secondary: #FFFFFF;
    --text-color-p: color: rgba(33, 37, 41, 0.5);
    --text-color: #212529;
}

header {
    position: fixed;
    background-color: #F25C05;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    z-index: 2;
}



main {
    padding-top: 120px;
}

.title{
    font-family: var(--font-family-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: var(--text-color);
    padding-bottom: 16px;
    margin: 0;
    padding-top: 30px;
}

.text{
    font-family: var(--background-color-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0 0 47px 0;
    }

input{
    width: 100%;
}

textarea{
    width: 100%;
    padding-bottom: 21px;
}

.btn{
    display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--btn-color-primary);
   text-decoration: none;
   color: var(--btn-color-secondary);
   border-radius: 5px;
   font-family: var(--font-family-primary);
   font-style: normal;
   font-weight: var(--font-weight-secondary);
   font-size: 20px;
   line-height: 125%;
   height: 48px;
   width: 100%;
}

p{
    padding: 21px 0 16px 0;
    margin: 0;
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: var(--btn-color-primary);
}

@media (max-width: 767px) {
    main {
        padding-top: 72px;

    }
}

main .container{
    margin-bottom: 93px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 12px 15px;
}

.intro-section {
    color: black;
    font-family: 'Work Sans', sans-serif;
    padding: 5px 0 82px;
}

.intro-section p:first-of-type {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.intro-section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson', sans-serif;
}

.intro-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
}

.intro-section img {
    width: 100%;
}

footer {
    background-color: var(--background-color-primary);
    padding: 50px 0;
    color: white;

}


footer p {
    padding: 0;
    color: var(--btn-color-secondary);
}

/* Mobile */
@media (max-width: 767px) {
    header {
        padding: 16px 20px;
        height: 72px;
    }

    .logo-link img {
        height: 38px;
    }

    .nav-links-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F25C05;
        padding: 30px 0;
        display: none;
    }

    .nav-links {
        display: inline;
    }

    .nav-links a {
        display: block;
    }

    .mobile-menu-close {
        position: absolute;
        top: 16px;
        right: 32px;
        
    }

    .mobile-menu-close, .mobile-menu-open {
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;
    }

    .nav-links-container.open {
        display: flex;
    }

    .revert-on-mobile {
        flex-direction: column-reverse;
    }

    .revert-on-mobile div[class^="col-"] {
        padding: 0 20px;
    }

    .text-container {
        margin-top: 30px;
    }

    .intro-section {
        padding-bottom: 40px;
    }

    footer {
        text-align: center;
        padding: 30px 0;
    }

    footer p {
        font-size: 20px;
        font-family: 'Work Sans';
        font-weight: 400;
        line-height: 125%;
        color: #FFFFFF;
    }

    main .container{
        margin-bottom: 59px;
    }
}

@media (min-width: 768px) {

    .mobile-menu-close, .mobile-menu-open {
        display: none;
    }
}