main {
    padding-top: 158px;
}
.our-services-section .row {
    text-align: center;
    justify-content: center;
}

.title__our-services {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:#F3D92C;
}

.our-services-section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson', sans-serif;
    font-weight: 700;
}

.description__our-services {
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 125%;
}

.amount-time__our-services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-services-section .amount-time__our-services p{
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    padding-left: 9px;
    padding-top: 8px;
}

.card-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    font-family: 'Work Sans';
}

.col {
    display:flex;
    justify-content: center;
}

.card-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    font-family: 'Work Sans';
    color: rgba(33, 37, 41, 0.5);
}

.quality__our-services {
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 0;
}

.list-amount-time {
    list-style-image: url('./images/Vector.svg');

}

.learn-more-btn__services {
    background-color: #212529;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
    padding: 13px 30px 10px 30px;
}

.our-services-section .card {
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    margin: 78px 52px 0 52px;
}

.list-amount-time li {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: #212529;
    padding-top: 11px;

}

@media (max-width:767px) {
    main {
        padding-top: 90px;
    }
    .our-services-section .card { 
    margin: 30px auto;
    }
}