*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

.mathcup {
  margin: 50px 0 50px 0;
}

.player1 {
  font-size: 40px;
  color: #3b3b3b;
  font-weight: 900;
}

h3 {
  font-size: 35px;
  color: #FFFFFF;
}

.player2 {
  font-size: 40px;
  color: #00A193;
}


.mathcup {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #006e64;
}

.board {
  margin-top: 150px;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: #006e64;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  font-weight: 800;
  justify-content: center;
  align-items: center;
  color: #00A193;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  background-color: #006e64;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  margin: 80px auto 0;
}


.winning-message.show {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

button{
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color:white;
  font-size: 20px;
  padding: 5px 20px;
  margin:  10px auto 0;
}