body{
    margin: 0}

.container {
    background-color: #f2f2f2;
    margin-left: 25%;
    margin-right: 25%;
}

.uppercontent{
    padding-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.color1{
    background-color: #fbd233;
}

.color2 {
    background-color: #ffffff;
}

/*headings style*/
.h1 {
    margin: 0 auto;
    padding-top: 3%;
}

.h3 {
    color: #ffffff;
    margin: 0 auto;
    padding-top: 3%;
}

.h2 {
    margin: 0 auto;
    padding: 5% 0;
}
.text{
    margin: 0 10%;
    text-align: left;
}

.upperlogo {
    padding: 5% 0;
}

.button {
    padding: 11% 0;
}
.bottomcontent {
    padding-top: 17%;
    background-color: #F3F3F3;
    text-align: center;
    color: rgb(204, 203, 204);
}
