body {
    margin: 0;
}

.bstyle:hover {
    padding: 21.5px 82px;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.btn{
    padding: 21.5px 82px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}

.hrstyle{
    width: 87px;
    height: 4px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
}

.page1 {
    background-color: #87509C;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web';
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 217px 0 212px;
}
.logo{
    margin-top: 58px;
}

.menu {
    margin-top: 63px;
}

.menu button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background-color: inherit;
    border: 0;
    color: white;
}

.buttonpage1 {
    padding: 5px 18px;
}

.buttonpage1:hover {
    background-color: #643A79;
    padding: 5px 18px;
    border-radius: 4px;
}

.page1 p {
    font-style: normal;
    font-weight: 700;
    font-size: 42.1529px;
    line-height: 64px;
    margin: 140px 266px 0 266px;
    color: white;
}

.btn1{
    background-color: #EB7D4B;
    margin: 26px 0 145px 0;
}


.page2 {
    background-color: #17C2A4;
    color: white;
    width: 100%;
}

.content-page-2, .content-page-3, .content-page-4, .content-page-5{
    display: flex;
}
.contentstylepage2{
    padding: 0 195px;
}

.paragraphpage2{
    padding: 13px 0 122px 0;
    margin: 0;
}

.branding img {
    padding: 74px 0 59px 0;
}

.design img {
    padding: 71px 0 55px 0;
}


.development img {
    padding: 73px 0 58px 0;
}


.rocket img {
    padding: 69px 0 54px 0;
}


.topicpage2 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    margin: 0;
}

.design {
    padding-left: 111px;
}

.development {
    padding-left: 103px;
}

.rocket {
    padding-left: 98px;
}

.titlepage2 .subtitle {
    padding: 19px 431.5px 0 431.5px;
}

.titlepage2 .title {
    padding: 106.5px 0 1.5px 0;
}
.titlepage2 hr {
    background: #000000;
    opacity: 0.15;
}

.page3 {
    background-color: #E7F1F8;
    width: 100%;
}

.titlepage3 .subtitle {
    padding: 26px 0 73px 0;
    color: #3C4761;

}

.titlepage3 .title {
    padding: 107px 0 1.5px 0;
    color: #3C4761;
}
.titlepage3 hr {
    background: #BDD1DF;
    opacity: 0.75;
}

.contentstylepage3 {
    padding: 0 209.5px;
    justify-content: space-between;
}

.ANNE, .Kate, .Olivia, .Ashley {
    width: 200px;
}

.paragraph3page3{
    margin: 0;
    padding-top: 9px;
    padding-bottom: 37px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #3C4761;
}

.paragraph2page3{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #30BAE7;
    }

.paragraph1page3{
    margin: 0;
    padding-top: 34px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #3C4761;
}

.icons{
    padding-bottom: 126px;
}

.page4 {
    background-color: #FFFFFF;
    width: 100%;
}

.titlepage4 .subtitle {
    padding: 19px 446.5px 73px 446.5px;
    color: #3C4761;
}

.titlepage4 .title {
    padding: 104.5px 0 1.5px 0;
    color: #3C4761;
}
.titlepage4 hr {
    background: #DFE8ED;
}

.contentstylepage4 {
    padding: 0 220px;
    justify-content: space-between;
}

.paragraphpage4 {
    padding-top: 25px;
    padding-bottom: 110px;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: #3C4761;
}

.page5 {
    background-color: #FFDD99;
    width: 100%;
}

.titlepage5 .subtitle {
    padding: 19px 471px 37px 471.5px;
    color: #393939;
}

.titlepage5 .title {
    padding: 107px 0 1.5px 0;
    color: #393939;
}
.titlepage5 hr {
    background: #E5C37F;
}

.content-page-5 {
    padding: 0 169px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 62px;
}

.buttonpage5{
    background: rgba(0, 0, 0, 0.08);
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    border: 0;
    color: #393939;
    padding: 6px 21px;
    border: rgba(0, 0, 0, 0.08);;
}

.buttonpage5:hover{
    background-color: #FFFFFF;
}

.page5navbar{
    justify-content: space-between;
    flex-direction: row;

}

.paragraphpage5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #393939;
}

.btnpage5 {
    margin-top: 75px;
    background: #17C2A4;
    margin-bottom: 109px;
}

.page6 {
    background-color: #D74680;
    width: 100%;
}

.titlepage6 .subtitle {
    padding: 19px 648.5px 83px 648.5px;
    color: #FFFFFF;
}

.titlepage6 .title {
    padding: 106.5px 0 1.5px 0;
    color: #FFFFFF;
}
.titlepage6 hr {
    background: #000000;
    opacity: 0.15;
}

.content-page-6 {
    padding: 0 142px;
    text-align: left;
}

.page6row1 {

    display: flex;
    margin-top: 83px;

}

.page6row2 {

    display: flex;
    margin-top: 100px;
    justify-content: space-between;

}

.page6items {

    width: 50%;
    display: flex;
    margin: 0 40px;

}
.content-page-6 img {
    margin-right: 48px;
}

.paragraph1page6{
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #FFFFFF;
}

.paragraph2page6{
    margin: 33px 0 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

.paragraph3page6 {
    margin: 0 0 107px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFDD99;
}

.page7 {
    background-color: #3C5499;
    width: 100%;
}

.titlepage7 .subtitle {
    padding: 19px 347px 0 347px;
    color: #FFFFFF;
}

.titlepage7 .title {
    padding: 107px 0 1.5px 0;
    color: #FFFFFF;

}
.titlepage7 hr {
    background: #273A71;
}

.content-page-7{
    margin: 0 290px;
}

.input{
    padding: 72px 0 27px 0;
    display: flex;
    justify-content: space-between;
}

.input input{
    width: 414px;
    height: 56px;
    background: #273A71;
    border: 0;
    padding: 0;
}

.textarea{
    width: 860px;
    height: 200px;
    background: #273A71;
}

input::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 14px 0 0 23px;
}

textarea::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 14px 0 0 23px;
}

.btnpage7{
    background: #30BAE7;
    margin: 59px 0 114px 0;
}

.footer{
    background-color:#344B8E;
    width: 100%;
    padding: 41px 243.5px 34px 243.5px;
}

.footerbutton {
    background-color:#344B8E;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}

.footerbutton:hover {
    border: none;
    color: #30BAE7;
}
