body{
    margin: 0;
    background-color: black;
}
.container {
    color: white;
}
.uppercontent{
    text-align: center;
}
.image{
    background-color: white;
    background-repeat: no-repeat;
    height: 461px;
    background-position: center center;
    background-image: url(../images/artist\ preferat/Steve-Jobs-on-design-1.png);
    color: black;
}
.h3{
    padding-top: 11%;
    margin-left: 27%;
    text-align: left;
    width: 25%;
    font-size: xx-large;
    font-weight: lighter;
}

.bottomcontent{
    text-align: left;
    margin: 5% 35%;
}
.bottomlogo{
    margin: 30% 0;
}
