body {
    margin: 0;
    background-color: #006e64;
    height: 100vh;
}

.mathcup{
    margin: 50px 0 50px 0;
}

.player1{
    font-size: 40px;
    color: #3b3b3b;
    font-weight: 900;
}

h3{
    font-size: 35px;
    color: #FFFFFF;
}

.player2{
    font-size: 40px;
    color: #00A193;
}


.mathcup{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}


td{
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 70px;
    cursor: pointer;    
}

table{
    border-collapse: collapse;
    position: relative;
    left: 50%;
    margin-left: -155px;
    top: 50px;
}

table tr:first-child td{
    border-top: 0;

}

table tr:last-child td {
    border-bottom: 0;

}

table tr td:first-child {
    border-left: 0;

}

table tr td:last-child {
    border-right: 0;

}

.endgame{
    margin-top: 100px;
    font-size: 40px;
    border-radius: 5px;
    padding: 24px 24px 40px;
    color: white;
    text-align: center;
}

button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    padding: 5px 20px;
    margin:  10px auto 0;
}