:root {

    --font-family-primary: 'Work Sans';
    --font-family-secondary: 'Crimson';
    --background-color-primary: #F25C05;
    --background-color-secondary: white;
    --btn-color-primary: #212529;
    --btn-color-secondary: #FFFFFF;
    --text-color-p: color: rgba(33, 37, 41, 0.5);
    --text-color: #212529;
}

header {
    position: fixed;
    background-color: var(--background-color-primary);
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    z-index: 2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



main {
    padding-top: 120px;
}

@media (max-width: 767px) {
    main {
        padding-top: 72px;

    }
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 12px 15px;
}

.intro-section .text-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
}

.btn{
     display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-color-primary);
    text-decoration: none;
    color: var(--btn-color-secondary);
    border-radius: 5px;
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
}

.partners{
    padding: 60px 0 72px 0;
}

.intro-section{
    background-color: #F25C05;   
}

.partner-images{
    padding: 55px 0;
}

.intro-section .text-container{
    color: white ;
}

.intro-section .text-container h1{
    font-family: var(--font-family-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.intro-section .text-container h2{
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
}

.intro-section .text-container p{
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
}

.title{
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    color: #F3D92C;
    padding-bottom: 16px;
    margin: 0;
}

.subtitle{
    font-family: var(--font-family-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: var(--text-color);
    padding-bottom: 16px;
    margin: 0;
}

.text{
    font-family: var(--background-color-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    margin: 0;
    }

.Team .text{
    padding-bottom: 45px;
}

.presentation h2{
    margin: 0;
    font-family: var(--font-family-secondary);
    color: var(--text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    padding-bottom: 16px;
}

.presentation p{
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary);
    color: var(--text-color-p);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    padding-bottom: 16px;
}

.Team .container a {
    margin: 45px 0 64px 0;
}

.Team .container .card{
    width: auto;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: left;
}

.img {
    width: 100%;
}

.page-content{
    margin-bottom: 102px;
}

footer {
    background-color: var(--background-color-primary);
    padding: 50px 0;
    color: white;

}


footer p {
    padding: 0;
}

/* Desktops */
@media (min-width: 1200px) {}

/* Small desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {}

/* Mobile */
@media (max-width: 767px) {
    header {
        padding: 16px 20px;
        height: 72px;
    }

    .footer-container {
        text-align: center;
    }

    footer p {
        font-size: 20px;
        font-family: 'Work Sans';
        font-weight: 400;
        line-height: 125%;
        color: #FFFFFF;
    }

    .logo-link img {
        height: 38px;
    }

    .nav-links-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F25C05;
        padding: 30px 0;
        display: none;
    }

    .nav-links {
        display: inline;
    }

    .nav-links a {
        display: block;
    }

    .mobile-menu-close {
        position: absolute;
        top: 16px;
        right: 32px;
        
    }

    .mobile-menu-close, .mobile-menu-open {
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;
    }

    .nav-links-container.open {
        display: flex;
    }

    .revert-on-mobile {
        flex-direction: column-reverse;
    }

    .revert-on-mobile div[class^="col-"] {
        padding: 0 20px;
    }

    .intro-section .text-container {
        margin-top: 30px;
    }

    .intro-section {
        padding-bottom: 40px;
    }

    .partner-images img {
        padding-top: 55px;
    }

    .presentation{
        padding: 0 20px;
    }
    
    .presentation h2{
        margin: 0;
        font-size: 24px;
        padding-bottom: 20px;
    }

    .presentation p{
        margin: 0;
        padding: 0;
        padding-bottom: 20px;

    }

    .mobile-padding{
        padding-bottom: 60px;
    }

    footer {
        text-align: center;
        padding: 30px 0;
    }

    footer p {
        font-size: 20px;
        font-family: 'Work Sans';
        font-weight: 400;
        line-height: 125%;
        color: #FFFFFF;
    }

}

@media (min-width: 768px) {

    .mobile-menu-close, .mobile-menu-open {
        display: none;
    }
}