@font-face {
    font-family: 'Crimson';
    src: url('./crimson/CrimsonText-Regular.ttf')  format('truetype'); 
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Crimson';
    src: url('./crimson/CrimsonText-Italic.ttf')  format('truetype'); 
    font-weight: 400;
    font-style: italic;
  }



  @font-face {
    font-family: 'Crimson';
    src: url('./crimson/CrimsonText-Bold.ttf')  format('truetype'); 
    font-weight: 700;
  }

@font-face {
  font-family: 'WorkSans';
  src: url(./worksans/static/WorkSans-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'WorkSans';
  src: url(./worksans/static/WorkSans-Bold.ttf) format('truetype');
  font-weight: 700;
}